<div class="auction-app-container">
    <div class="user-info-container">
        <demo-projects-user-info></demo-projects-user-info>
        <h3>Your Items Won</h3>
         <div class="user-item-container">
        <demo-projects-user-item-list></demo-projects-user-item-list>
    </div>
    </div>
   
  <div class="item-info-container">
      <demo-projects-item-detail></demo-projects-item-detail>
  </div> 
<div class="up-next-container">
    <demo-projects-auction-item-list></demo-projects-auction-item-list>
</div>
  <div class="bid-component-container">
      <demo-projects-bid-amount></demo-projects-bid-amount>
  </div>
<div class="users-bid-container">
    <demo-projects-users-bid-list></demo-projects-users-bid-list>
</div>
  
  <div class="bid-submit-container">
      <button class="submit-button"><h3>BID!</h3></button>
  </div>
</div>

